/* ==========================================================================
	Page Layout
========================================================================== */

body {
	background: $tiy-gray2;
	margin-bottom: rhythm(2);
}
.wrapper {
	max-width:960px;
	margin:0 auto;
	position:relative;
}
.mainContent {
	background: #fff;
	border-radius: 10px;
	padding: 10px;
	margin: 0 10px;
	@include clearfix;

	@include breakpoint($medium) {
		margin: 0 20px;
		padding: 40px;
	}
	@include breakpoint($large) {
		margin: 0 auto;
		max-width: 960px;
		padding:40px 80px;
	}
}