/* ==========================================================================
	Schedule
========================================================================== */

.schedTable {
	border-spacing: 5px;
    border-collapse: separate;

	th {
		text-transform: none;
		text-align: center;
		padding:10px;
	}
	td {
		text-align: center;
		padding:10px;
		text-transform: uppercase;
	}
	.lecture {
		background: lighten($tiy-design-callout, 10);
	}
	.lab {
		background: lighten($tiy-callout, 20);
	}
	.daypart {
		font-weight: normal;
		width:10%;
	}
}