/* ==========================================================================
	Variables
========================================================================== */

// Fonts
$sans-serif: Arial, Helvetica, sans-serif;
$serif: "ff-tisa-web-pro", "Times New Roman", serif;

// Colors
$tiy-gray1:   #2d383e;
$tiy-gray2:	  #39464e;
$tiy-gray3:	  #737e84;
$tiy-gray4:	  #b2b3b7;
$tiy-gray5:	  #d1d2d4;
$tiy-callout: #6fbab6;

$tiy-design1: #014455;
$tiy-design2: #087890;
$tiy-design3: #31a1ad;
$tiy-design4: #70bbb7;
$tiy-design5: #bfe4d3;
$tiy-design-callout: #fab26a;

// Media Query Breakpoints
$small:    30em; // 480px
$medium:   48em; // 768px
$large:    64em; // 1024px